<mat-card *ngFor="let wallet of walletsData" class="wallets-item">
  <mat-card-title>{{ wallet.name }}</mat-card-title>
  <mat-card-subtitle>{{ wallet.description }}</mat-card-subtitle>
  <button mat-stroked-button color="primary" routerLink="/wallets/{{ wallet.id }}" style="float:left">Open Wallet</button>
  <mat-card-actions align="end" class="actions">
    <button mat-button (click)="onEdit(wallet)" data-toggle="modal" data-target="#exampleModal" mat-stroked-button color="accent">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteWallet(wallet)">Delete</button>
  </mat-card-actions>
</mat-card>