<div class="container d-flex justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div>
        <h2>{{ walletData.name }} Details</h2>
        <!-- <div><span>id: </span>{{wallet.id}}</div> -->
      </div>
    </mat-card-header>
    <mat-card-content>
      <h1 style="text-align:center">Balance : <span>231 RON</span></h1>
      <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="totals-column">
          <h2>Total Month Expenses</h2>
          <p>20RON</p>
        </div>
        <div class="totals-column">
          <h2>Total Month Income</h2>
          <p>3RON</p>
        </div>
      </div>
      <hr>
      <div class="transactions-list" style="margin-bottom:2em;">
        <mat-tab-group mat-align-tabs="start" color="accent" backgroundColor="primary" style="margin: 1.5em 0;border-radius:6px;">
          <mat-tab label="Expenses">
            <div class="list-of">
              <mat-card *ngFor="let expense of expenses" class="transaction" style="border:0.2px solid brown; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ expense.date }}</h3>
                  <h2>{{ expense.title }}</h2>
                  <p>{{ expense.description }}(Description/Category) : walletId - {{ expense.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                  <div class="sum">
                    -{{ expense.amount }} {{ expense.currency }}
                  </div>
                  <div class="actions">
                    <button mat-raised-button color="primary" style="background-color: green;">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button mat-raised-button style="background: lightblue; color: #fff">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Incomes">
            <div class="list-of">
              <mat-card *ngFor="let income of incomes" class="transaction" style="border:0.2px solid brown; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ income.date }}</h3>
                  <h2>{{ income.title }}</h2>
                  <p>{{ income.description }}(Description/Category) : walletId - {{ income.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                  <div class="sum">
                   +{{ income.amount }} {{ income.currency }}
                  </div>
                  <div class="actions">
                    <button mat-raised-button color="primary" style="background-color: green;">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button mat-raised-button style="background: lightblue; color: #fff">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="All">
            <div class="list-of">
              <mat-card *ngFor="let transaction of transactionsData" class="transaction" style="border:0.2px solid brown; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ transaction.date }}</h3>
                  <h2>{{ transaction.title }}</h2>
                  <p>{{ transaction.description }}(Description/Category) : walletId - {{ transaction.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                  <div class="sum">
                    <span *ngIf="(transaction.type == 'expense'); else isIncome">-</span>
                    <ng-template #isIncome>+</ng-template>
                    {{ transaction.amount }} {{ transaction.currency }}
                  </div>
                  <div class="actions">
                    <button mat-raised-button color="primary" style="background-color: green;">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button mat-raised-button style="background: lightblue; color: #fff">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <mat-accordion class="example-headers-align">
        <h1 style="text-align: center;">Add Transactions</h1>
        <mat-expansion-panel style="border: 1px solid red;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Complete the below fields
            </mat-panel-title>
            <mat-panel-description>
              Type the transaction details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="formTransaction">
            <div class="form-row">
              <div class="form-group col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Title</mat-label>
                  <input matInput formControlName="transactionTitle">
                </mat-form-field>
              </div>
              <div class="form-group col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Description</mat-label>
                  <input matInput formControlName="transactionDescription">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Value</mat-label>
                  <input matInput type="number" min="0" formControlName="transactionAmount">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Select Transaction Type</mat-label>
                  <mat-select formControlName="transactionType">
                    <mat-option value="income">Income</mat-option>
                    <mat-option value="expense">Expense</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Currency</mat-label>
                  <input matInput formControlName="transactionCurrency">
                </mat-form-field>
              </div>
            </div>
          </form>
          <button mat-raised-button color="primary" (click)="postTransaction()">Add</button>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="go-back-btn" (click)="goBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

