<div class="container d-flex justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div *ngIf="wallet">
        <h2>{{wallet.name | uppercase}} Details</h2>
        <!-- <div><span>id: </span>{{wallet.id}}</div> -->
      </div>
    </mat-card-header>
    <mat-card-content>
      <h1 style="text-align:center">Balance : <span>231 RON</span></h1>
      <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
        <div class="totals-column">
          <h2>Total Month Expenses</h2>
          <p>20RON</p>
        </div>
        <div class="totals-column">
          <h2>Total Month Income</h2>
          <p>3RON</p>
        </div>
      </div>
      <hr>
      <div class="transactions-list" style="margin-bottom:2em;">
        <mat-tab-group mat-align-tabs="start" color="accent" backgroundColor="primary" style="margin: 1.5em 0;border-radius:6px;">
          <mat-tab label="Expenses">
            <div class="list-of">
              <div *ngFor="let expense of expenses" class="transaction" style="border:1px solid yellow; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ expense.date }}</h3>
                  <h2>{{ expense.title }}</h2>
                  <p>{{ expense.description }}(Description/Category) : walletId - {{ expense.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                 -{{ expense.amount }} {{ expense.currency }}
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Incomes">
            <div class="list-of">
              <div *ngFor="let income of incomes" class="transaction" style="border:1px solid yellow; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ income.date }}</h3>
                  <h2>{{ income.title }}</h2>
                  <p>{{ income.description }}(Description/Category) : walletId - {{ income.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                 +{{ income.amount }} {{ income.currency }}
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="All">
            <div class="list-of">
              <div *ngFor="let transaction of transactionsData" class="transaction" style="border:1px solid yellow; margin: 1em 0; padding: 10px">
                <div class="details" style="height: auto;display:inline-block">
                  <h3>{{ transaction.date }}</h3>
                  <h2>{{ transaction.title }}</h2>
                  <p>{{ transaction.description }}(Description/Category) : walletId - {{ transaction.walletId }}</p>
                </div>
                <div class="amount" style="float:right">
                  <span *ngIf="(transaction.type == 'expense'); else isIncome">-</span>
                  <ng-template #isIncome>+</ng-template>
                    {{ transaction.amount }} {{ transaction.currency }}
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <mat-accordion class="example-headers-align">
        <h1 style="text-align: center;">Add Transactions</h1>
        <mat-expansion-panel style="border: 1px solid red;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Expenses
            </mat-panel-title>
            <mat-panel-description>
              Type an expense
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput type="number" min="0">
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker> -->
          <!-- <button mat-stroked-button color="primary">Add</button> -->
        </mat-expansion-panel>

        <mat-expansion-panel style="border: 1px solid green;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Incomes
            </mat-panel-title>
            <mat-panel-description>
              Type an income
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Value</mat-label>
            <input matInput type="number" min="0">
          </mat-form-field>

          <!-- <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker> -->
      
          <!-- <button mat-raised-button color="primary">Add</button> -->
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</div>

